- content_for(:title, t('.title'))
%h2= t('.title')

.row
  .col-xs-12.col-sm-12.col-md-6.col-lg-6
    %table.table.table-hover.table-striped
      %thead
        %th= "Name" #OrderType.human_attribute_name(:name)
        %th(colspan="2")= t('activerecord.attributes.user.code')
      %tbody
        - @order_types.each do |order_type|
          %tr
            %td.order-name
              /order_type[:code].to_s.gsub(/\./,'{dot}')
              %a{ href: admin_order_type_path('car_init_1{dot}0') }= order_type[:name]
            %td= order_type[:code]
            %td
              = link_to(admin_order_type_path('car_init_1{dot}0'),
                        method: :delete,
                        class: 'text-danger',
                        data: { confirm: t('.confirmation', order_type: order_type[:name]), confirm_title: t('.order_type_removal'), confirm_proceed: t('.yes_remove') }) do
                %i.fa.fa-trash-o
  .col-xs-12.col-sm-12.col-md-6.col-lg-6
    %h5= t('.add')
    = render partial: 'upload'
%a.btn.btn-primary{ :href => BACKEND_API_CONFIG['url'] + "forms/download" }
  Download
/=debug(@error)
/debug(@url)
/debug(@file)