- content_for(:title, @order_type[:name])

%h2= @order_type[:name]
.row
  .col-xs-12.col-sm-12.col-md-8.col-lg-9
      
    .test-it-baby
      = simple_form_for('order_type_form',
                  remote: true,
                  url: admin_update_order_type_path(@order_type[:code].to_s.gsub(/\./,'{dot}')),
                  html: { role: 'form', id: 'new_order_form'}) do |f|
        %h3= t('Edit form definition')
        = f.input(:yaml, as: :text, input_html: {value: @order_type[:yaml], style: "height: 396px;"}, label: 'Json', required: false )
        = f.submit t('save'), class: 'btn btn-primary hbw-button pull-right'        

      / preserve(@order_type[:html].html_safe)
  .col-xs-12.col-sm-12.col-md-4.col-lg-3
    - if @order_type[:active]
      %div= t('.activated')
      = link_to admin_order_types_path do
        %i.fa.fa-long-arrow-left><
        = t('.back')
    - else
      %div= t('.activate_dismiss')
      = render partial: 'activate_dismiss'
/=debug(@error)
:coffee
$(document).ready ->
  
  a = 0
  $("#new_order_form").on("ajax:complete", (e, data, status, xhr) ->
    Application.messenger.show([["notice", data.responseText]])
    $('.hbw-button').attr('disabled',false)
  )
  $(document).bind("ajaxSend", () ->
     $('.hbw-button').attr('disabled', true)
     a++
     console.log('start' + a)
   ).bind("ajaxComplete", () ->
    $('.hbw-button').attr('disabled', false)
    console.log('finish')
   );
