<% content_for(:title, "Login")%>
<div class="authform">
  <%- if @greeting.present?%>
    <div class="greeting alert" role="alert"><h4><p class="greeting-text text-center"><%= @greeting.html_safe %></p></h4></div>
  <% end -%>
  <!-- //session_path(resource_name) -->
  <%= form_for(:user, url: sessions_path, :html => { :role => 'form'}) do |f| %>
    <h4><%= 'Process Controling System' %></h4>
    <div class="form-group">
      <%= f.email_field :email, :autofocus => true, class: 'form-control floating-label', placeholder: "Email" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, :autofocus => true, class: 'form-control floating-label', placeholder: "Password" %>
    </div>
      <%= f.submit "Log in", :class => 'btn btn-primary pull-right' %>
  <%end%>
</div>