= render partial: 'layouts/form_errors', locals: { record: @user }
/ = f.input :name, autofocus: true, required: false
/ = f.input :middle_name, required: false
/ = f.input :last_name, required: false
/ = f.input :email, required: false
/ - if @user == @current_user
/   = f.input :role do
/     %span.form-control
/       = roles_for_select.find { |(_, role)| role == @user.role }.first
/ - else
/   = f.input :role, as: :select, collection: roles_for_select
/ = f.input :company, required: false
/ = f.input :department, required: false
/ = f.input :password
/ = f.input :password_confirmation
= label_tag 'Json'
= text_area_tag :json_definition, 'enter json', html: {class: 'json_user-textarea'}
