- content_for(:title, t('.title'))
%h2= t('.title')
.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    %p= "%s: %s"%[t('activerecord.attributes.user.full_name'), @user['name'] + " " + @user['last_name']]
    %p= "%s: %s"%[t('activerecord.attributes.user.email'), @user['email']]
    %p= "%s: %s"%[t('activerecord.attributes.user.role'), @user['role']]
    %p= "%s: %s"%[t('activerecord.attributes.user.company'), @user['company']]
    %p= "%s: %s"%[t('activerecord.attributes.user.department'), @user['department']]
    %p= "%s: %s"%[t('activerecord.attributes.user.api_token'), @user['api_token']]
    .row
      .col-xs-12
        = link_to t('edit'), edit_user_path, class: 'btn btn-primary'
        - if 1==1

          = link_to t('.renew_api_token'), "/", method: 'put', class: 'btn btn-danger', data: { confirm: 'Renew API Token', confirm_proceed: t('.yes_renew') }
          = link_to t('.clear_api_token'), "/",  method: 'delete', class: 'btn btn-danger', data: { confirm: t('.clear_api_token_warning'),  confirm_proceed: t('.yes_clear') }
        - else
          = link_to t('.generate_api_token'), "/", method: 'put', class: 'btn btn-primary'
