.row
  .col-xs-6
    .row.attribute-row
      .col-xs-12
        = succeed ':' do
          = t('activerecord.attributes.order.ext_code')
        .value= prettify_value(@order.ext_code)
    .row.attribute-row
      .col-xs-12
        = succeed ':' do
          = t('activerecord.attributes.order.user')
        .value= prettify_value(@order.user_full_name)
    .row.attribute-row
      .col-xs-12
        = succeed ':' do
          = t('activerecord.attributes.order.state')
        .value= prettify_value(order_state_indicator(@order))
    .row.attribute-row
      .col-xs-12
        = succeed ':' do
          = t('activerecord.attributes.order.archived')
        .value= prettify_value(boolean_indicator(@order.archived))
    .row.attribute-row
      .col-xs-12
        = succeed ':' do
          = t('activerecord.attributes.order.created_at')
        .value= prettify_date(@order.created_at)
    .row.attribute-row
      .col-xs-12
        = succeed ':' do
          = t('activerecord.attributes.order.bp_state')
        .value= prettify_value(@order.bp_state)
    .row.attribute-row
      .col-xs-12
        = succeed ':' do
          = t('activerecord.attributes.order.bp_id')
        .value= prettify_value(@order.bp_id)
    .row.attribute-row
      .col-xs-12
        = succeed ':' do
          = t('activerecord.attributes.order.done_at')
        .value= prettify_date(@order.done_at)
