- @user_caches.keys.each_with_index do |key, index|
  .row.margin-top-10{ class: "#{ key } hide user-cache-record"  }
    .col-xs-6.col-sm-6.col-md-6.col-lg-4
      %h5= t('.proces_version')
    .col-xs-12
      .table-responsive.orders-list
        %table.table.table-bordered
          %thead
            %tr
              %th.text-center= 'DB ID'
              %th.text-center= 'DB Version'
              %th.text-center= 'DB Engine'
              %th.text-center= 'Business Version'
              %th.text-center= 'Active'
              %th.text-center
          %tbody
            - @user_caches[key].each do |record|
              %tr.user-cache-data
                %td.text-center= record['camundaDbId']
                %td.text-center= record['dbVersion']
                %td.text-center= record['engine']
                %td.text-center
                  = record['businessVersionInfo']['major']
                  \.#{record['businessVersionInfo']['minor']}
                %td.text-center
                  - if record['enable']
                    %input{:checked => "checked", :disabled => "disabled", :type => "checkbox"}
                  -else
                    %input{:disabled => "disabled", :type => "checkbox"}
                %td.text-center
                  - if record['enable']
                    = link_to "Switch Off", change_cache_status_orders_path(key, record['dbVersion'], 'false'), class: "change-enable-status", remote: true
                  - else
                    = link_to "Switch On", change_cache_status_orders_path(key, record['dbVersion'], 'true'), class: "change-enable-status", remote: true



:coffee
$->
  key = $('.user-cache-keys ').val()
  $('.'+ key).removeClass('hide');

  $('.user-cache-keys ').on 'change', ->
    $('.user-cache-record').addClass('hide');
    $('.'+ $(this).val()).removeClass('hide');

  $('.change-enable-status').on 'click', ->
    $(".loading").show();
