- content_for(:title, t('.title'))
%h2= t('.title')
= render partial: 'search_form'
.row
  .col-xs-12
    - if @orders.present?
      .table-responsive.orders-list
        %table.table.table-striped.table-hover
          %thead
            %tr
              %th= 'ID'#Order.human_attribute_name(:code)
              %th= 'Task Name' #Order.human_attribute_name(:order_type_code)
              %th= 'Process Name'#Order.human_attribute_name(:state)
              %th= 'Status'#Order.human_attribute_name(:created_at)
              %th= 'Created at'#Order.human_attribute_name(:user)
              %th= 'Business Key'#{title: Order.human_attribute_name(:ext_code)}= t('.ext_code')
              %th='Archived'#{title: Order.human_attribute_name(:archived)}= t('.archived')
          %tbody
            - @orders['items'].each do |order|
              %tr
                %td= link_to order['id'], order_path(order['id'])
                %td= order['taskName']#.order_type_name
                %td= order['processName']#_state_indicator(order)
                %td= order['status']
                //%td= boolean_indicator(!order['status'].blank?)
                %td= loc_datetime(order['taskCreationDate'])#order['user']#.user_full_name
                %td= order['businessKey']#.ext_code
                %td= boolean_indicator(!order['archived'].blank?)#.archived)

    - else
      %h4.empty-list= t('.no_orders_found')
  .pagination_2
    =link_to 'Prev', '/orders?page=' + prev_page_number(params['page']) + get_filter_params(params)
    =link_to 'Next', '/orders?page=' + next_page_number(params['page']) + get_filter_params(params)
= link_to t('add'), new_order_path, class: 'btn btn-primary'
/=debug(@url)
/=debug(@users_for_pick)