.loading{style: "display:none"}
  %img{src: image_path("loading.gif")}

- content_for(:title, t('.cache-management'))
%h2= t('.cache-management')

- if @user_caches.present?
  .row
    .col-xs-6.col-sm-6.col-md-6.col-lg-4
      .margin-top-20
        %label= t('.process_type')
      .margin-top-10
      %select.form-control.order_type-picker.right-element.user-cache-keys
        = options_for_select(@user_caches.keys)

  .user-cache-change-enable-status
    = render partial: 'user_cache'


